<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag "collegebus-logo.jpg" %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Buses</a>
      <%= link_to "Stops", stops_path, class: "navbar-item" %>
      <a class="navbar-item">About</a>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", dashboard_index_path, class: "navbar-item" %>
        <%= link_to "Logout", destroy_user_session_path, class: "navbar-item", method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
