<div class="cb-dashboard-container">
  <div class="columns">
    <%= render 'shared/dashboard_menu' %>

    <div class="column is-10 content">
      <h1>New Bus</h1>

      <%= form_with model: [:dashboard, @bus] do |f| %>
        <div class="field">
          <p class="control has-icons-left">
            <%= f.text_field :service_number, placeholder: "Service Number (e.g. RH1)", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-bus"></i>
            </span>
          </p>
        </div>
        <div class="buttons">
          <%= link_to dashboard_buses_path, class: "button is-danger is-rounded" do %>
            <p>
              <span class="icon is-small"><%= fa_icon('times', type: :solid) %></span>
              <span>Cancel</span>
            </p>
          <% end %>

          <%= button_tag type: 'submit', class: "button is-success is-rounded" do %>
            <p>
              <span class="icon is-small"><%= fa_icon('check', type: :solid) %></span>
              <span>Confirm</span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>