<!DOCTYPE html>
<html>
  <head>
    <title>RhulCollegebus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Responsive viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome 5 -->
    <%= javascript_include_tag "//kit.fontawesome.com/0147b226e4.js", crossorigin: "anonymous" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <%= yield %>
  </body>
</html>
